<ng-container *ngIf="currentMsg">
  <div class="toast-container">
    <div
      class="toast fade show align-items-center bg-{{ currentMsg.type === 'success' ? 'success' : 'danger' }} border-0 text-white"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex">
        <div class="toast-body">{{ currentMsg.text }}</div>
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          aria-label="Close"
          (click)="currentMsg = null"
        ></button>
      </div>
    </div>
  </div>
</ng-container>
